<p style="color: green"><%= notice %></p>

<div class="show_user">
  <div class="row">
    <aside class="span4">
      <section>
        <h1><%= gravatar_for @user %> <%= @user.name %></h1>
      </section>
    </aside>
  </div>
  <p>
    <b>Email</b> <%= @user.email %>
  </p>

  <%= link_to "Work", work_path, class: "btn btn-lg btn-primary" %>
</div>
