<div class="container fixed-top bg-white">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <%= link_to t(".home") , main_index_path, class: "nav-link px-2" %>
      </li>
      <li>
        <%= link_to t(".help") , main_help_path, class: "nav-link px-2" %>
      </li>
    </ul>

    <p class="locale">
      <%= link_to image_tag("Russia.jpg", alt: "" , style: "width: 10%; height: 10%" , title: "Русский" ), locale: :ru %>
      <%= link_to image_tag("United_Kingdom.jpg", alt: "" , style: "width: 12%; height: 12%" , title: "English" ), locale: :en %>
      <%= I18n.locale %>
    </p>

    <div>
      <% if signed_in? %>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <%= gravatar_for current_user, "32x32" %>
          </a>
          <ul class="dropdown-menu text-small">
            <li>
              <%= link_to t('.profile'), current_user, class: "dropdown-item" %>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <%= link_to t('.sign_out') , signout_path, method: "delete" , class: "dropdown-item" %>
          </ul>
        </div>
        <% else %>
          <div class="text-end">
            <%= link_to t('.sign_in'), signin_path, class: "btn btn-outline-dark me-2" %>
            <%= link_to t('.sign_up'), signup_path, class: "btn btn-warning" %>
          </div>
        <% end %>
    </div>
  </header>
</div>