<% if @composite_results.blank? %>
    <table style="table-layout: auto" title="No Values results">
        <div class="results">
            <h2>
                <%= t(".no_values") %>
            </h2>
        </div>
    </table>
<% else %>
    <div class="results pb-4">
        <h2>
            <%= t(".page_title") %>
        </h2>
    </div>
    <table class="table table-bordered" style="table-layout: auto;" title="All images expert values">
        <caption>
            <%= paginate @composite_results_paged %>
        </caption>

        <tr style="font-size: 2em; margin-bottom: .5em">
            <th class="name">Phone</th>
            <th>Image</th>
            <th>Value</th>
            <th>Date</th>
        </tr>
        <% @composite_results_paged.each do |composite_diag| %>
            <tr class="one_row">
                <td style="text-align: left; width: 25em">
                    <%= composite_diag.name %>
                </td>
                <td>
                    <%= image_tag('pictures/' + composite_diag.file, {:width=> "53", :height =>"47", title:
                        "Tested image"} ) %>
                </td>
                <td style="color: rgba(122, 13, 75, 1);">
                    <%= composite_diag.user_value %>
                </td>
                <td>
                    <%= composite_diag.mark_date.strftime('%d.%m.%y ') %>
                </td>
            </tr>
        <% end %>
    </table>

    
<%= link_to t(".return_to_main"), work_path,  class: "btn btn-primary my-3", title: "Go to main page" %>
<% end %>